[submodule "downloads/socrata"]
	path = downloads/socrata
	url = git@github.com:tlevine/socrata-views.git
[submodule "downloads/ckan"]
	path = downloads/ckan
	url = git@github.com:tlevine/ckan-datasets.git
[submodule "downloads/socrata-homepages"]
	path = downloads/socrata-homepages
	url = git@github.com:tlevine/socrata-homepages
[submodule "downloads/socrata-apis"]
	path = downloads/socrata-apis
	url = git@github.com:tlevine/socrata-apis.git
[submodule "state"]
	path = state
	url = git@github.com:tlevine/open-data-state.git
